@font-face {
  font-family: "Figtree";
  font-weight: 600;
  src: url("./assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree";
  font-weight: 800;
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  width: 384px;
  background-color: var(--white);
  padding: 24px;
  gap: 24px;
  flex-direction: column;

  box-shadow: 8px 8px var(--black);
  border-radius: 20px;
  outline: 1px solid var(--black);
}

main {
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --black: #000;
  --white: #fff;
  --yellow: #f4d04e;
  --grey: #7f7f7f;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
