@font-face {
  font-family: "Figtree";
  font-weight: 600;
  src: url("./assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree";
  font-weight: 800;
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  min-width: 327px;
  max-width: 384px;
  background-color: var(--white);
  padding: 24px;
  gap: 24px;
  flex-direction: column;

  box-shadow: 8px 8px var(--black);
  border-radius: 20px;
  outline: 1px solid var(--black);

  &__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__avatar {
    width: 32px;
    aspect-ratio: 1;
  }
}

.text-group {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__tag {
    background-color: var(--yellow);
    width: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
  }

  &__heading {
    color: var(--black);

    &:hover {
      cursor: pointer;
      color: var(--yellow);
    }
  }

  &__body {
    color: var(--grey);
  }
}

.text {
  font-family: Figtree, sans-serif;
  font-weight: 600;
  line-height: 150%;

  &_bold {
    font-weight: 800;
  }

  &_size {
    &_s {
      font-size: clamp(0.75rem, -0.0724rem + 3.509vw, 0.875rem);
    }
    &_s-unmodified {
      font-size: 0.875rem;
    }
    &_m {
      font-size: clamp(0.875rem, 0.0525rem + 3.509vw, 1rem);
    }
    &_l {
      font-size: clamp(1.25rem, -0.395rem + 7.02vw, 1.5rem);
    }
  }
}

.crop {
  position: relative;
  border-radius: 10px;
  height: 200px;

  overflow: hidden;
}

main {
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 24px;
}

:root {
  --black: #000;
  --white: #fff;
  --yellow: #f4d04e;
  --grey: #7f7f7f;
}

.attribution {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  width: fit-content;

  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
